body {

    width: 960px ;
    margin: auto;
    background-color: cornflowerblue;
}

h1
{
text-align: center;
color: blue;
background-color: cornsilk;

}

img {
width: 150px;

display: block;
margin: auto;
}

p{

line-height: 30px;

}

h2
{
color: blue;
background-color: burlywood;

}
h3
{

    background-color: cornsilk;
    color: crimson;

}

main ol 
{

    color:darkkhaki ;
    background-color: darkred;
    line-height: 20px;


}
#intro
{
    color: darkslateblue;
    background-color: gainsboro;
}

main ul
{

    color:  black;
    background-color:gainsboro;
    line-height: 20px;

}

