body {

    width: 960px ;
    margin: auto;
    background-color: rgb(114, 124, 143);
}

h1
{
text-align: center;
color: rgb(218, 210, 211);
font-size: 40px;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 50px;
margin-top: 50px;

}

img {
width: 300px;
display: block;
margin: auto;

}

p {
    line-height: 30px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;

}


#myparagraph{

line-height: 1.8;
font-size: 25px;

}

h2
{
    color: rgb(218, 210, 211);
    background-color: rgb(245, 126, 126);
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    
}
h3
{

    color: rgb(218, 210, 211);
    background-color: rgb(245, 126, 126);
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

main ol 
{

    color: rgb(49, 13, 43);
    font-size: 18px;
    line-height: 20px;
    text-decoration: underline;


}
#intro
{
    color: rgb(218, 210, 211);
    background-color: rgb(245, 126, 126);
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
}

main ul
{

    color: rgb(49, 13, 43);
    line-height: 20px;
    font-size: 18px;

}

